/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
}

/* Light theme - tile-light.png background */
.heroBanner {
  background-image: url('/img/tile-light.png');
}

/* Dark theme - tile.png background */
[data-theme='dark'] .heroBanner {
  background-image: url('/img/tile.png');
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.heroText {
  flex: 1;
  min-width: 300px;
}

.heroImage {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage img {
  max-width: 612px;
  width: 100%;
  height: auto;
  display: block;
}

/* Show happy sprite in light mode, hide sad sprite */
.spriteLight {
  display: block;
}

.spriteDark {
  display: none;
}

/* Show sad sprite in dark mode, hide happy sprite */
[data-theme='dark'] .spriteLight {
  display: none;
}

[data-theme='dark'] .spriteDark {
  display: block;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  
  .heroContent {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
